img {border:none}


@media screen and (-webkit-min-device-pixel-ratio:0) {.stitle{padding-top:15px;padding-bottom:10px;}}


/* font 디폴트*/
td {font-size:12px;font-family:돋움;color:#333333}
th { font-size:12px; font-weight:normal; font-family:돋움; color:#333333; text-align:left; }
.txt {font-size:12px;font-family:돋움;color:#333333}
input {font-size:12px;font-family:돋움;color:#333333}
select	{font-size:11px;font-family:돋움}
.input {font-size:12px;font-family:돋움;color:333333}
input#border {font-size:12px;font-family:돋움;color:333333;border:1 solid #B4B4B4}
textarea#border{font-size:12px;font-family:돋움;color:333333;border:1 solid #B4B4B4}
div {font-size:12px;font-family:돋움;color:#333333}
.border {border:1 solid #D6D7D6}

b {letter-spacing:-1}

.money {text-align:right;padding-right:10}


/*왼쪽메뉴*/
.left1 {background:#E5E5E5 url('/admin/img/bl_left.gif') left no-repeat;height:26;padding:3 0 0 12;font-weight:bold;text-decoration:none;}


/*링크*/
a.:link {color:#333333;text-decoration:none}
a.:visited {color:#333333;text-decoration:none}
a.:hover {color:#333333;text-decoration:underline}

.la a:link {color:#333333;text-decoration:none}
.la a:visited {color:#333333;text-decoration:none}
.la a:hover {color:#333333;text-decoration:underline}

.orange a:link {color:555555}
.orange a:visited {color:555555}
.orange a:hover {color:FF5400}


.menu {color:#FFFFFF;font-weight:bold}
.menu a:link{color:#FFFFFF;font-weight:bold;text-decoration:none}
.menu a:visited{color:#FFFFFF;font-weight:bold;text-decoration:none}
.menu a:hover{color:#FFFFFF;font-weight:bold;text-decoration:underline}

/*
.history {color:#8C8A8C;}
.history a:link{color:#8C8A8C;text-decoration:none}
.history a:visited{color:#8C8A8C;text-decoration:none}
.history a:hover{color:#8C8A8C;text-decoration:underline}
*/
.history {display:none}


/*기타 본문에 쓰이는 css*/
.stitle {font-size:14px;font-weight:bold;font-family:돋움;color:#333333;letter-spacing:-1}

.tbsbj {background:#F6F6F6;padding-left:15;height:25;border-right:1 solid dddddd;color:333333}
.tbctr {background:#F6F6F6;height:25;border-right:1 solid dddddd;color:333333}
.tbcont {padding:3 0 3 8;color:555555}
.radio {margin-bottom:-2}


.ol {margin-left:-10}

.num {color:#FB9A00}/*금액의 숫자부분에 적용되는 css*/

.highlight {color:#1188DD;}/*강조폰트칼라*/
.highlight2 {color:#336699}/*강조폰트칼라2*/

.redbold {color:red;font-weight:bold}/*강조 red bold*/
.redbold a:link{color:red;font-weight:bold}
.redbold a:visited{color:red;font-weight:bold}
.redbold a:hover{color:red;font-weight:bold}

.hiding { display:none; }

/*회원정보 팝업 메뉴*/
.popupmenu {color:#FFFFFF;}
.popupmenu a:link{color:#FFFFFF;}
.popupmenu a:visited{color:#FFFFFF;}
.popupmenu a:hover{color:#FFFFFF;}


/*sms 문자 보내기의 textarea*/
.smstxt {overflow:hidden;border:0;BACKGROUND:#E7FBFF;cursor:hand;border:1 solid #00BEE7;margin:4;font-size:12;padding:3}
/*sms 문자 보내기의 모바일*/
.mobile {width:128;height:100;border:0;OVERFLOW:hidden;background-color:transparent}




/*모듈관리*/
.bbs_tab_on {background:#FFFFFF;font-weight:bold;color:#841C10;}
.bbs_tab_on a:link{background:#FFFFFF;font-weight:bold;color:#841C10}
.bbs_tab_on a:visited{background:#FFFFFF;font-weight:bold;color:#841C10}
.bbs_tab_on a:hover{background:#FFFFFF;font-weight:bold;color:#841C10;text-decoration:none}

.bbs_tab_off {background:#F8D56E;color:#841C10}
.bbs_tab_off a:link{background:#F8D56E;color:#841C10}
.bbs_tab_off a:visited{background:#F8D56E;color:#841C10}
.bbs_tab_off a:hover{background:#F8D56E;color:#841C10;text-decoration:none}






/*게시판 하단의 페이지 번호*/
.pagenum {color:FF5500;font-weight:bold;}
.pagenum a:link{color:555555;font-weight:normal;text-decoration:none}
.pagenum a:visited{color:555555;font-weight:normal;text-decoration:none}
.pagenum a:hover{color:555555;font-weight:normal;text-decoration:underline}


.history {color:8C8A8C;}
.history a:link{color:8C8A8C;text-decoration:none}
.history a:visited{color:8C8A8C;text-decoration:none}
.history a:hover{color:8C8A8C;text-decoration:underline}


/*carlendar*/

.sunday {color:FF6666;font-size:11;}
.sunday a:link{color:FF6666;background:FFE4C8;width:14;font-size:11;}
.sunday a:visited{color:FF6666;background:FFE4C8;width:14;font-size:11;}
.sunday a:hover{color:FFE4C8;background:FFE4C8;text-decoration:none;width:14;font-size:11;}

.day {color:000000;font-size:11;}
.day a:link{color:000000;background:FFE4C8;width:14;font-size:11;}
.day a:visited{color:000000;background:FFE4C8;width:14;font-size:11;}
.day a:hover{color:000000;background:FFE4C8;text-decoration:none;width:14;font-size:11;}

.schedule_title{color:166C9F;font-famliy:dotum;font-size:14px;font-weight:bold}

.schedule_txt a:link{color:D71F27;font-size:11px;line-height:14px}
.schedule_txt a:visited{color:D71F27;font-size:11px;line-height:14px}
.schedule_txt a:hover{color:D71F27;font-size:11px;line-height:14px}

td#schedule1 {padding:4 5 5 10}/*달력 리스트의 평일,토요일*/
td#schedule2 {padding:4 5 5 15}/*달력 리스트의 일요일*/

.schedule_view_title {background:url(../about/img/sc_view_title.gif) no-repeat;padding:16 20 0 32;color:000000}/*달력 보기 페이지의 타이틀 부분*/
.schedule_view {background:url(../about/img/sc_view_bg.gif) top repeat-y;padding:15 26 15 26;line-height:150%;color:333333}/*달력 보기 페이지의 내용부분*/

/*문자 보내기의 작은 달력*/
.sun {color:FF3416}
.sun a:link{color:FF3416}
.sun a:visited{color:FF3416}
.sun a:hover{color:FF3416}


.sat {color:2265D6}
.sat a:link{color:2265D6}
.sat a:visited{color:2265D6}
.sat a:hover{color:2265D6}


/*타이틀이 좌측인 경우*/
.tle{background:efefef;text-align:center}
.cont{padding:3 0 3 7}

/*타이틀이 상단인 경우*/
.tle2{background:efefef;text-align:center}
.cont2{padding:3 0 3 0;text-align:center}


.editor_menu {font-size:13px;font-family:굴림;color:000000;font-weight:bold;letter-spacing:-1;}
.editor_sub_menu {font-family:돋움;font-size:11px;color:#666666;cursor:hand;}

.page_title {font-size:15px;font-family:돋움;color:000000;font-weight:bold;letter-spacing:-1;}

/*map*/

.mb {background:#F4F6FA;color:#1B5FC7;font-weight:bold;text-decoration:none;height:26px}
.mb a:link{background:#F4F6FA;color:#1B5FC7;font-weight:bold;text-decoration:none}
.mb a:visited{background:#F4F6FA;color:#1B5FC7;font-weight:bold;text-decoration:none}
.mb a:hover{background:#F4F6FA;color:#1B5FC7;font-weight:bold;text-decoration:none}

.mc {line-height:150%;color:333333;text-decoration:none}
.mc a:link{line-height:150%;color:333333;text-decoration:none}
.mc a:visited{line-height:150%;color:333333;text-decoration:none}
.mc a:hover{line-height:150%;color:FF5400;text-decoration:none}

/*예약모듈 팝업*/
.img_view {border:1 solid #999999;width:60;height:60}
li	{line-height:19px}

.tb_y {background:FFFBE7;color:565457;padding:0 5 0 5}
.yy_left	{background:DFE7F2;color:4070AE;font-weight:bold;padding:3 0 0 16;height:27}
#link_yy_left	{background:url(../img/bl_gray_yy.gif) no-repeat;padding-left:17;}
#link_yy_left_on	{background:url(../img/bl_gray_yy.gif) no-repeat;padding-left:17}
#link_yy_left_on a:link	{color:1353c1}
#link_yy_left_on a:visited	{color:1353c1}
#link_yy_left_on a:hover	{color:1353c1}
#link_yy_left_off	{background:url(../img/bl_gray_yy.gif) no-repeat;padding-left:17}
#link_yy_left_off a:link {color:000000}
#link_yy_left_off a:visited{color:000000}
#link_yy_left_off a:hover {color:1353c1}


.f_tb	{background:f7f7f7;color:346699;font-weight:bold;text-align:center;height:28}



/*결제수단신청및관리*/
.head_title {  font-family: "굴림"; font-size: 12px; color: 444444; text-decoration: none; font-weight: bold}
.history_gray {  font-family: "굴림"; font-size: 12px; color: 444444; text-decoration: none}
.history_red {  font-family: "굴림"; font-size: 12px; color: CC3366; text-decoration: none; font-weight: bold}
.main_gray {  font-family: "굴림"; font-size: 12px; color: 444444; text-decoration: none}
.help_table_gray {  font-family: "굴림"; font-size: 12px; text-decoration: none; background-color: F7F7F7}

 /*bullet title*/
ul.bullet_title { list-style:none; margin:0px; padding:0px; line-height:0.1em; text-align:left; }
ul.bullet_title li { display:block; background:url(/admin/img/bl_blue.gif) no-repeat 0 50%; padding-left:10px; font-weight:bold; margin:0px; }

/* 본문 타이틀 */
ul.content_title { list-style:none; margin:0px; margin-top:16px; margin-bottom:12px; padding:0px; line-height:0.3em; text-align:left; padding-bottom:2px; border-bottom:1px solid #D9D9D9; height:18px; width:800px; }
ul.content_title li { display:block; float:left; font-size:14px; background:url(/admin/img/bl_stitle.gif) no-repeat 0 50%; padding-left:14px; font-weight:bold; margin:0px; }
ul.content_title li.location { position:relative; background:none; float:right; right:0px; top:0px; color:#8C8A8C; height:12px; font-size:12px; font-weight:normal; }

/* 설명 */
ul.desc { list-style:none; padding:0px; padding-left:6px; margin:0px; margin-top:6px; margin-bottom:10px; }
ul.desc li { line-height:17px; color:#666666; font-size:12px; margin:0px; padding:0px; }
ul.desc li.small { line-height:12px; font-size:10px; }

/* 예약 컴포넌트 메인메뉴 */
ul#reservation_component_main_menu { display:block; width:800px; height:22px; margin:0px; margin-bottom:4px; margin-top:4px; padding:0px; padding-top:8px; padding-left:10px; background-color:#F8D56E; }
ul#reservation_component_main_menu li { display:block; float:left; padding-left:8px; padding-right:8px; padding-bottom:3px; background-color:#F8D56E; }
ul#reservation_component_main_menu li.selected { background-color:#FFFFFF; font-weight:bold; }
ul#reservation_component_main_menu li a { display:block; width:110px; color:#841C10; text-decoration:none; }
ul#reservation_component_main_menu li a:hover { text-decoration:none; }

/* 예약 구매자 정보 */
table#buyerinfo_container { border-collapse:collapse; padding:0px; margin:0px; width:800px; }
table#buyerinfo_container td { text-align:left; vertical-align:top; }
table#buyerinfo_container img { margin:3px; cursor:pointer; }

table#buyerinfo_container td#buyerinfo_move_control_text { text-align:right; padding:0px; padding-left:0px; vertical-align:middle; }
table#buyerinfo_container td#buyerinfo_move_control { vertical-align:middle; text-align:left; }

.property_panel img { cursor:pointer; }
.property_panel div.cmd { text-align:center; width:800px; }

#buyerinfo_preview { border-collapse:collapse; width:94%; margin:8px; font-size:10px; }
#buyerinfo_preview th { border:0px solid white; padding:0px; margin:0px; text-align:right; vertical-align:middle; width:10px; }
#buyerinfo_preview td { margin:0px; border:1px solid #DDDDDD; padding:2px 5px 2px 5px; white-space:nowrap; color:#555555; vertical-align:middle; }
#buyerinfo_preview td.title { background-color:#FFFBE7; color:#565457; margin:0px; border:1px solid #DDDDDD; padding:0px 5px 0px 5px; text-align:center; width:15%; vertical-align:middle; }

table#buyerinfo_list { border-collapse:collapse; border:1px solid #DDDDDD; width:360px; margin-top:10px; }
table#buyerinfo_list td{ margin:0px; border:1px solid #DDDDDD; padding:0px 5px 0px 5px; white-space:nowrap; color:#555555; vertical-align:middle; text-align:center; }
table#buyerinfo_list th{ background-color:#FFFBE7; color:#565457; margin:0px; border:1px solid #DDDDDD; padding:0px 5px 0px 5px; white-space:nowrap; }
table#buyerinfo_list tr { height:28px; }
table#buyerinfo_list thead { background-color:#F6F6F6; text-align:center; }

/* 상품 메뉴 */
#product_menu { text-align:left; margin-top:10px; margin-bottom:10px; width:800px; padding:0px; }
#product_menu img { margin-right:1px; cursor:pointer; filter: opacity:0.8; -moz-opacity:0.8; }
#product_menu img:hover { filter: opacity:1; -moz-opacity:1; }

/* 하단 명령 버튼*/
div.bottom_cmd { padding-top:20px; padding-bottom:20px; width:100%; text-align:center; }
div.bottom_cmd img { cursor:pointer; filter: opacity:0.8; -moz-opacity:0.8; }
div.bottom_cmd img:hover { filter: opacity:1; -moz-opacity:1; }

/* 이미지 버튼 */
img.linked { cursor:pointer; }

/* 업로드 미리보기*/
div#SWFUploadFileName { border:0px solid white; position:relative; float:left; width:380px; }
div#upload_preview { border:1px solid #DEDEDE; margin-top:18px; margin-bottom:8px; padding:4px; padding-top:10px; width:800px; height:140px; text-align:left; }
div#upload_preview div { width:140px; height:110px; border:0px solid white; text-align:center; float:left; }
div#upload_preview div img { width:120px; height:90px; }

/* input no border*/
input.imgupload_filename { border-width:0px; width:99%; }

/* 환불 */
table#refund_setting_table { width:400px; text-align:center; }

/* 사용안내 */
div.usage_instruction { width:800px; border:3px solid #ECD08A; padding:8px; padding-bottom:4px; margin-top:6px; margin-bottom:6px; }

/* 공통상품정보 테이블*/
table#product_common_table thead td { background-color:#F6F6F6; text-align:center; }
table#product_common_table th { background-color:#FFFBE7; text-align:center; }

/* 예약 상품 목록 테이블*/
table#listing_table thead th { font-size:11px; }
table#listing_table td { height:28px; text-align:center; font-size:11px; font-family:돋움; color:#333333; }

/* 부가정보 테이블*/
table#product_addition_table { border:1px solid #DEDEDE; }
table#product_addition_table th { background-color:#EFEFEF; }
table#product_addition_table td { vertical-align:middle; }
table#product_addition_table tr { height:29px; }
table#product_addition_table img { vertical-align:middle; margin-right:4px; }

/* 상품 테이블 */
table.product_table { border-collapse:collapse; border:1px solid #DEDEDE; width:800px; margin-top:4px; margin-bottom:12px; }
table.product_table th { border:1px solid #DEDEDE; border-right-color:#DDDDDD; padding:4px; padding-left:15px; }
table.product_table thead th { padding:3px; background-color:#F6F6F6; text-align:center; }
table.product_table td { border:1px solid #DEDEDE; padding:3px 0px 3px 4px; color:#555555; }
table.product_table select{ font-size:12px; font-family:돋움; color:333333 }
table.product_table col.title{ width:120px; background-color:#F6F6F6; height:25px;  color:#333333; }
table.product_table span { margin-right:4px; }
table.product_table textarea { width:630px; height:100px; overflow-x:hidden; overflow-y:auto;}

table.product_table input[type="text"] { border:1px solid #D6D7D6; }
table.product_table input[type="radio"] { margin-bottom:-2px; }
table#buyerinfo_container input[type="text"] { border:1px solid #D6D7D6; }
table#buyerinfo_container input[type="radio"] { margin-bottom:-2px; }

/* component_main_page_display */
div.component_main_page_display { width: 608px; }
div.component_main_page_display ul { list-style:none; margin:0px; margin-top:16px; margin-bottom:0px; padding:0px; line-height:0.3em; text-align:left; padding-bottom:0px; height:14px; width:100%; }
div.component_main_page_display li { display:block; float:left; font-size:12px; padding-left:4px; font-weight:bold; margin:0px; }
div.component_main_page_display li.more { position:relative; background:none; float:right; right:4px; top:0px; color:#8C8A8C; height:12px; font-size:12px; font-weight:normal; }
div.component_main_page_display table { border-collapse:collapse; border:1px solid #DEDEDE; width:100%; margin-top:4px; margin-bottom:12px; }
div.component_main_page_display table th { border:1px solid #DEDEDE; border-right-color:#DDDDDD; padding:4px; padding-left:15px; background-color:#F6F6F6; }
div.component_main_page_display table td { border:1px solid #DEDEDE; padding:3px 4px 3px 4px; color:#555555; }

a.no_line:link, a.no_line:visited, a.no_line:active { color:#333333; text-decoration:none; }
a.no_line:hover { text-decoration:none;}

.bt_a11		{ background:url(//img.cafe24.com/images/ec_admin/btn/tbtn_bg_001.gif) right top no-repeat; font-size:12px; font-family:돋움; color:#333333; text-decoration:none; cursor:pointer; }
.bt_a12		{ background:url(//img.cafe24.com/images/ec_admin/btn/tbtn_bg_002.gif) no-repeat; height:19px; padding:4px 8px 0 8px; }
.bt_a21		{ background:url(//img.cafe24.com/images/ec_admin/btn/tbtn_bg_011.gif) right top no-repeat; font-size:12px; font-family:돋움; color:#ffffff; font-weight:bold; text-decoraiton:none; cursor:pointer; }
.bt_a22		{ background:url(//img.cafe24.com/images/ec_admin/btn/tbtn_bg_012.gif) no-repeat; height:28px; padding:7px 16px 0 14px; text-decoration:none; }

.bt_a31		{ height:20px; border:none; background:url(//img.cafe24.com/images/ec_admin/btn/tbtn_bg_001.gif) right top no-repeat; cursor:pointer; font-size:11px; font-family:돋움; color:#333333; }
.bt_a32		{ height:26px; border:none; background:url(//img.cafe24.com/images/ec_admin/btn/tbtn_bg_011.gif) right top no-repeat; cursor:pointer; font-size:12px; font-family:돋움; color:#ffffff; font-weight:bold; }
img.imp		{ margin-bottom:5px; }

.bt_a41		{ background:url(//img.cafe24.com/images/ec_admin/btn/tbtn_bg_001.gif) right top no-repeat; cursor:pointer; border-collapse:collapse; }
.bt_a42		{ background:url(//img.cafe24.com/images/ec_admin/btn/tbtn_bg_002.gif) no-repeat; font-size:12px; color:#333333; padding:3px 8px 0 8px; }
.bt_a51		{ background:url(//img.cafe24.com/images/ec_admin/btn/tbtn_bg_011.gif) right top no-repeat; cursor:pointer; border-collapse:collapse; }
.bt_a52		{ background:url(//img.cafe24.com/images/ec_admin/btn/tbtn_bg_012.gif) no-repeat; font-size:12px; color:#ffffff; font-weight:bold; padding:3px 16px 0 16px; }

*:first-child+html .tmb12	{ margin-top:-2px; padding-top:3px; }
* html .tmb12				{ margin-top:-2px; padding-top:3px; }
*:first-child+html .tmb22	{ margin-top:-2px; padding-top:3px; }
* html .tmb22				{ margin-top:-2px; padding-top:3px; }

/* IE전용 */
table.product_table input { border: expression( (this.type=='text')?'1px solid #D6D7D6':''); }
table.product_table input { margin-bottom: expression( (this.type=='radio')?'-2px':''); }
table#buyerinfo_container input { border: expression( (this.type=='text')?'1px solid #D6D7D6':''); }
table#buyerinfo_container input { margin-bottom: expression( (this.type=='radio')?'-2px':''); }


/* 테이블 상단 폼 */
.TableTopForm {
	float:left;
	width:755px;
	min-height:20px;
	padding:9px 10px;
	border:1px solid #c5d1e5;
	background:url(/cimg/text_box_bg.gif) left top repeat-x #e8eef8;
	}
	*html .TableTopForm {height:18px;}

	.TableTopForm ul {float:left;}
	.TableTopForm ul li img {vertical-align:middle;}
	.TableTopForm table {margin:0 10px;}
	.TableTopForm table td.form_kind {padding-top:3px;}
	.TableTopForm table td img {vertical-align:middle;}
	.TableTopForm .form_kind {padding:2px 10px; font-size:12px; font-weight:bold; color:#666; vertical-align:middle;}

.Table01 {
	width:100%;
	border-right:1px solid #d5d5d5;
	border-bottom:2px solid #d5d5d5;
	}
.Table01 th {
	padding:5px 5px;
	font-size:12px;
	color:#333;
	font-weight:normal;
	background:url(/cimg/images/table_th.gif) left top repeat-x #ededed;
	border-top:1px solid #d5d5d5;
	border-left:1px solid #d5d5d5;
	}
.Table01 td {
	padding:5px 5px;
	font-size:12px;
	color:#666;
	font-weight:normal;
	text-align:center;
	border-top:1px solid #d5d5d5;
	border-left:1px solid #d5d5d5;
	}
	.Table01 th.sub_title {background:#ededed;}
	table td.subject {padding:4px 10px; text-align:left;}
	table {border-collapse:collapse;}

.Table02,
.Table02_center {
	width:100%;
	border-right:1px solid #d5d5d5;
	border-bottom:2px solid #d5d5d5;
	}
.Table02 th,
.Table02_center th {
	padding:5px 4px;
	font-size:12px;
	color:#333;
	text-align:center;
	font-weight:normal;
	background:#ededed;
	border-top:1px solid #d5d5d5;
	border-left:1px solid #d5d5d5;
	}
.Table02 td,
.Table02_center td {
	padding:5px 4px;
	font-size:12px;
	color:#666;
	font-weight:normal;
	vertical-align:middle;
	border-top:1px solid #d5d5d5;
	border-left:1px solid #d5d5d5;
	}
	.Table02_center td {text-align:center;}

	.table_p {margin:0; padding:4px; border-bottom:1px solid #d5d5d5;}


/* Global Margin */
.MAL-15 {margin-left:-15px !important;}
.MAL5 {margin-left:5px !important;}
.MAL10 {margin-left:10px !important;}
.MAL15 {margin-left:15px !important;}
.MAL20 {margin-left:20px !important;}
.MAL25 {margin-left:25px !important;}
.MAL30 {margin-left:30px !important;}
.MAL35 {margin-left:35px !important;}
.MAL40 {margin-left:40px !important;}
.MAL50 {margin-left:50px !important;}
.MAL55 {margin-left:55px !important;}
.MAL60 {margin-left:60px !important;}
.MAL70 {margin-left:70px !important;}
.MAL75 {margin-left:75px !important;}
.MAL80 {margin-left:80px !important;}
.MAL90 {margin-left:90px !important;}
.MAL100 {margin-left:100px !important;}
.MAL120 {margin-left:120px !important;}
.MAL130 {margin-left:130px !important;}
.MAL140 {margin-left:140px !important;}

.MAR5 {margin-right:5px !important;}
.MAR10 {margin-right:10px !important;}
.MAR15 {margin-right:15px !important;}
.MAR20 {margin-right:20px !important;}
.MAR25 {margin-right:25px !important;}
.MAR30 {margin-right:30px !important;}
.MAR35 {margin-right:35px !important;}
.MAR40 {margin-right:40px !important;}
.MAR45 {margin-right:45px !important;}
.MAR50 {margin-right:50px !important;}
.MAR55 {margin-right:55px !important;}
.MAR60 {margin-right:60px !important;}
.MAR70 {margin-right:70px !important;}
.MAR80 {margin-right:80px !important;}
.MAR90 {margin-right:90px !important;}
.MAR100 {margin-right:100px !important;}
.MAR120 {margin-right:120px !important;}
.MAR130 {margin-right:130px !important;}
.MAR140 {margin-right:140px !important;}

.MAB5 {margin-bottom:5px !important;}
.MAB10 {margin-bottom:10px !important;}
.MAB15 {margin-bottom:15px !important;}
.MAB20 {margin-bottom:20px !important;}
.MAB25 {margin-bottom:25px !important;}
.MAB30 {margin-bottom:30px !important;}
.MAB35 {margin-bottom:35px !important;}
.MAB40 {margin-bottom:40px !important;}

.MAT0 {margin-top:0 !important;}
.MAT5 {margin-top:5px !important;}
.MAT10 {margin-top:10px !important;}
.MAT15 {margin-top:15px !important;}
.MAT20 {margin-top:20px !important;}
.MAT25 {margin-top:25px !important;}
.MAT30 {margin-top:30px !important;}
.MAT35 {margin-top:35px !important;}
.MAT40 {margin-top:40px !important;}
.MAT-5 {margin-top:-5px !important;}
.MAT-10 {margin-top:-10px !important;}
.MAT-15 {margin-top:-15px !important;}
.MAT-20 {margin-top:-20px !important;}
.MAT-25 {margin-top:-25px !important;}
.MAT-30 {margin-top:-30px !important;}
.MAT-35 {margin-top:-35px !important;}
.MAT-40 {margin-top:-40px !important;}

.PAL5 {padding-left:5px !important;}
.PAL10 {padding-left:10px !important;}
.PAL15 {padding-left:15px !important;}
.PAL20 {padding-left:20px !important;}
.PAL25 {padding-left:25px !important;}
.PAL30 {padding-left:30px !important;}
.PAL35 {padding-left:35px !important;}
.PAL40 {padding-left:40px !important;}
.PAL50 {padding-left:50px !important;}

.PAR5 {padding-right:5px !important;}
.PAR10 {padding-right:10px !important;}
.PAR15 {padding-right:15px !important;}
.PAR20 {padding-right:20px !important;}
.PAR25 {padding-right:25px !important;}
.PAR30 {padding-right:30px !important;}
.PAR35 {padding-right:35px !important;}
.PAR40 {padding-right:40px !important;}

.PAT5 {padding-top:5px !important;}
.PAT10 {padding-top:10px !important;}
.PAT15 {padding-top:15px !important;}
.PAT20 {padding-top:20px !important;}
.PAT25 {padding-top:25px !important;}
.PAT30 {padding-top:30px !important;}
.PAT35 {padding-top:35px !important;}
.PAT40 {padding-top:40px !important;}

.PAB5 {padding-bottom:5px !important;}
.PAB10 {padding-bottom:10px !important;}
.PAB15 {padding-bottom:15px !important;}
.PAB20 {padding-bottom:20px !important;}
.PAB25 {padding-bottom:25px !important;}
.PAB30 {padding-bottom:30px !important;}
.PAB35 {padding-bottom:35px !important;}
.PAB40 {padding-bottom:40px !important;}

.PADDING0{padding:0 !important;}
.PADDING5{padding:5px !important;}
.PADDING10{padding:10px !important;}
.PADDING20{padding:20px !important;}
.PADDING30{padding:30px !important;}
.PADDING40{padding:40px !important;}
.PADDING50{padding:50px !important;}



/* 관리자 바로가기 팝업에서 사용하기 위해 추가 (2009-07-13) */
.sub_title {background:url(http://home.cafe24.com/front_admin/img/bl_blue.gif) left 2px no-repeat;margin:22px 0 2px 0;padding:0 0 0 10px;font-size:12px;font-weight:bold;}
/* button  버튼 */
.btn_type01_02, .btn_type01_04, .btn_type01_05, .btn_type01_06, .btn_type01_09
{letter-spacing:-1px;color:#565656 !important;padding:0 0 0 15px;display:inline-block;font-size:12px;font-family:dotum;text-align:left;height:21px;line-height:23px;text-decoration:none}

.btn_type01_02  {background:url(//img.cafe24.com/img3/builder/btn_type01_02.gif) no-repeat;width:48px;}
.btn_type01_04  {background:url(//img.cafe24.com/img3/builder/btn_type01_04.gif) no-repeat;width:71px;}
.btn_type01_05  {background:url(//img.cafe24.com/img3/builder/btn_type01_05.gif) no-repeat;width:86px;}
.btn_type01_06  {background:url(//img.cafe24.com/img3/builder/btn_type01_06.gif) no-repeat;width:100px;}
.btn_type01_09  {background:url(//img.cafe24.com/img3/builder/btn_type01_09.gif) no-repeat;width:123px;}

.btn_type02_06, .btn_type02_07, .btn_type02_08, .btn_type02_09
{letter-spacing:-1px;color:#FFFFFF !important;display:inline-block;font-size:12px;font-family:dotum;text-align:center;height:27px;line-height:28px;text-decoration:none;font-weight:bold;}

.btn_type02_06 {background:url(//img.cafe24.com/img3/builder/btn_type02_06.gif) no-repeat;width:119px;}
.btn_type02_07 {background:url(//img.cafe24.com/img3/builder/btn_type02_07.gif) no-repeat;width:132px;}
.btn_type02_08 {background:url(//img.cafe24.com/img3/builder/btn_type02_08.gif) no-repeat;width:145px;}
.btn_type02_09 {background:url(//img.cafe24.com/img3/builder/btn_type02_09.gif) no-repeat;width:158px;}

/* button align 버튼 정렬 */
.btn_center {padding:20px 0 0 0;text-align:center;}

/* table 테이블 */
.table_type01 {width:100%;border-collapse:collapse;}
.table_type01 th {background:#f6f6f6;color:#333333;font-weight:normal;text-align:center;border:1px solid #dddddd;padding:7px 0 4px 0;}
.table_type01 td {text-align:center;border:1px solid #dddddd;padding:4px 0 4px 0;}
.table_type01 .sbj {text-align:left;padding:4px 0 4px 8px;}

.table_type02 {width:100%;border-collapse:collapse;}
.table_type02 th {background:#f6f6f6;color:#333333;font-weight:normal;text-align:center;border:1px solid #dddddd;padding:6px 0 5px 0;}
.table_type02 td {text-align:left;border:1px solid #dddddd;padding:6px 0 5px 8px;}

/* information area 글상자 */
.use_info {border:3px solid #ecd08a;width:100%;color:#585858;font-size:12px;padding:0 0 10px 0;margin:0}
.use_info dt {font-weight:bold;margin:0;padding:11px 0 0 20px;}
.use_info dd {background:url(img/bl_use_info.gif) left 10px no-repeat;padding:6px 7px 5px 7px;margin:0 0 0 16px}



/* 버튼 타입 */.btn_wh * {}
span.btn_wh,
span.btn_wh input,
span.btn_wh button {margin:0; font-family:dotum, 돋움; font-size:12px; color:#000; vertical-align:top; white-space:nowrap; background:url(../img/btn_bg.gif); border:0; display:inline-block;}
span.btn_wh {padding:0; background-position:left top;}
span.btn_wh button,
span.btn_wh input {height:22px; margin-left:2px; padding:2px 10px 0 8px; *padding:3px 5px 0 3px; background-position:right top; cursor:pointer;}
.width2 {width:40px;}
.width4 {width:60px;}
.width6 {width:90px;}
.width8 {width:110px;}


/* Layer */
.lbodyaw            { border:3px #d4d4d4 solid; padding:5px 0; text-align:left; font-size:12px; color:#666;}
.lbodyab            { padding:0 20px 35px 15px; overflow:auto; text-align:left; font-size:12px; color:#666;}
.lbodyax            { padding:0 20px 35px 15px; height:350px; overflow:auto; text-align:left; font-size:12px; color:#666;}
.lbodyax ul        { padding-left:9px; margin:0px;}
.lbodyax ul li     { background:url(/admin/img/sms/bul_77.gif) 0 6px no-repeat; padding:0 0 5px 8px; list-style: outside none none; }
.lbodyax ul li ul          { padding:3px 0 3px 0; }
.lbodyax ul li ul li       { background:none; padding:3px 0 3px 0; }
.lbodyax ul li ul li ul    { padding:3px 0 3px 9px; }
.lbodyax ul li ul li ul li { background:none; padding:3px 0 3px 0; }

.layertype      { width:500px; border:2px #777777 solid; background-color:#fff; }
.layertype .dragarea        { height:32px; background:url(/admin/img/sms/bg_ltype_b.gif) repeat-x; }
.layertype .dragarea .x     { float:right; }
.layertype h1   { float:left; padding:9px 0 0 15px; font:bold 13px/13px tahoma; color:#fff; }
.layertype h2   { background:url(/admin/img/sms/bul_mtle_01.gif) 0 8px no-repeat; margin:0px; padding:4px 0 8px 8px; font:bold 12px/1.3em tahoma; color:#333; }

.layer_type_c img                   { border:0; vertical-align:top; }
.layer_type_c li                    { list-style:none; }
.layer_type_c select, .layer_type_c input                   { font-family:verdana; color:#000000; font-size:12px; line-height:1.2em; }

/* Text */
.fs11       { font-size:11px !important; }

.lh12       { line-height:1.2em !important; }

.ls_1       { letter-spacing:-1px !important; }

/* Align */
.l          { text-align:left !important; }
.c          { text-align:center !important; }
.r          { text-align:right !important; }
.t          { vertical-align:top !important; }
.m          { vertical-align:middle !important; }
.b          { vertical-align:bottom !important; }
.just       { text-align:justify; }
.thl th     { text-align:left !important; }
.thc th { text-align:center !important; }
.thr th     { text-align:right !important; }
.tdl td     { text-align:left !important; }
.tdc td { text-align:center !important; }
.tdr td     { text-align:right !important; }
.tdt td     { vertical-align:top !important; }
.fl         { float:left !important; }
.fr         { float:right !important; }
.clear      { clear:both; }
.clear_fix { zoom:1; }
.clear_fix:after { display:block;visibility:hidden;clear:both;content:''; }
.auto       { margin:0 auto; }

/* Margin, Padding */
.m0     { margin:0 !important; }
.p0     { padding:0 !important; }
.mp0        { margin:0 !important; padding:0 !important; }

.mt_1       { margin-top:-1px !important; }
.mt0        { margin-top:0 !important; }
.mt1        { margin-top:1px !important; }
.mt2        { margin-top:2px !important; }
.mt3        { margin-top:3px !important; }
.mt4        { margin-top:4px !important; }
.mt5        { margin-top:5px !important; }
.mt6        { margin-top:6px !important; }
.mt7        { margin-top:7px !important; }
.mt8        { margin-top:8px !important; }
.mt9        { margin-top:9px !important; }
.mt10       { margin-top:10px !important; }
.mt11       { margin-top:11px !important; }
.mt12       { margin-top:12px !important; }
.mt13       { margin-top:13px !important; }
.mt14       { margin-top:14px !important; }
.mt15       { margin-top:15px !important; }
.mt16       { margin-top:16px !important; }
.mt17       { margin-top:17px !important; }
.mt18       { margin-top:18px !important; }
.mt19       { margin-top:19px !important; }
.mt20       { margin-top:20px !important; }
.mt25       { margin-top:25px !important; }
.mt30       { margin-top:30px !important; }
.mt35       { margin-top:35px !important; }
.mt40       { margin-top:40px !important; }
.mt45       { margin-top:45px !important; }
.mt50       { margin-top:50px !important; }
.mt60       { margin-top:60px !important; }
.mt70       { margin-top:70px !important; }
.mt80       { margin-top:80px !important; }
.mt90       { margin-top:90px !important; }
.mt100  { margin-top:100px !important; }

.mb0        { margin-bottom:0 !important; }
.mb1        { margin-bottom:1px !important; }
.mb2        { margin-bottom:2px !important; }
.mb3        { margin-bottom:3px !important; }
.mb4        { margin-bottom:4px !important; }
.mb5        { margin-bottom:5px !important; }
.mb6        { margin-bottom:6px !important; }
.mb7        { margin-bottom:7px !important; }
.mb8        { margin-bottom:8px !important; }
.mb9        { margin-bottom:9px !important; }
.mb10       { margin-bottom:10px !important; }
.mb15       { margin-bottom:15px !important; }
.mb20       { margin-bottom:20px !important; }
.mb25       { margin-bottom:25px !important; }
.mb30       { margin-bottom:30px !important; }
.mb35       { margin-bottom:35px !important; }
.mb40       { margin-bottom:40px !important; }

.mr0        { margin-right:0 !important; }
.mr1        { margin-right:1px !important; }
.mr2        { margin-right:2px !important; }
.mr3        { margin-right:3px !important; }
.mr4        { margin-right:4px !important; }
.mr5        { margin-right:5px !important; }
.mr6        { margin-right:6px !important; }
.mr7        { margin-right:7px !important; }
.mr8        { margin-right:8px !important; }
.mr9        { margin-right:9px !important; }
.mr10       { margin-right:10px !important; }
.mr11       { margin-right:11px !important; }
.mr12       { margin-right:12px !important; }
.mr13       { margin-right:13px !important; }
.mr14       { margin-right:14px !important; }
.mr15       { margin-right:15px !important; }
.mr16       { margin-right:16px !important; }
.mr17       { margin-right:17px !important; }
.mr18       { margin-right:18px !important; }
.mr19       { margin-right:19px !important; }
.mr20       { margin-right:20px !important; }
.mr25       { margin-right:25px !important; }
.mr30       { margin-right:30px !important; }
.mr35       { margin-right:35px !important; }
.mr40       { margin-right:40px !important; }

.ml0        { margin-left:0 !important; }
.ml1        { margin-left:1px !important; }
.ml2        { margin-left:2px !important; }
.ml3        { margin-left:3px !important; }
.ml4        { margin-left:4px !important; }
.ml5        { margin-left:5px !important; }
.ml6        { margin-left:6px !important; }
.ml7        { margin-left:7px !important; }
.ml8        { margin-left:8px !important; }
.ml9        { margin-left:9px !important; }
.ml10       { margin-left:10px !important; }
.ml11       { margin-left:11px !important; }
.ml12       { margin-left:12px !important; }
.ml13       { margin-left:13px !important; }
.ml14       { margin-left:14px !important; }
.ml15       { margin-left:15px !important; }
.ml16       { margin-left:16px !important; }
.ml17       { margin-left:17px !important; }
.ml18       { margin-left:18px !important; }
.ml19       { margin-left:19px !important; }
.ml20       { margin-left:20px !important; }
.ml25       { margin-left:25px !important; }
.ml30       { margin-left:30px !important; }
.ml35       { margin-left:35px !important; }
.ml40       { margin-left:40px !important; }
.ml50       { margin-left:50px !important; }

.mb_1       { margin-bottom:-1px !important; }
.mb_2       { margin-bottom:-2px !important; }
.mb_3       { margin-bottom:-3px !important; }

.p1     { padding:1px !important; }
.p2     { padding:2px !important; }
.p3     { padding:3px !important; }
.p4     { padding:4px !important; }
.p5     { padding:5px !important; }
.p6     { padding:6px !important; }
.p7     { padding:7px !important; }
.p8     { padding:8px !important; }
.p9     { padding:9px !important; }
.p10        { padding:10px !important; }
.p15        { padding:15px !important; }
.p20        { padding:20px !important; }
.p25        { padding:25px !important; }
.p30        { padding:30px !important; }
.p35        { padding:35px !important; }
.p40        { padding:40px !important; }

.pt0        { padding-top:0 !important; }
.pt1        { padding-top:1px !important; }
.pt2        { padding-top:2px !important; }
.pt3        { padding-top:3px !important; }
.pt4        { padding-top:4px !important; }
.pt5        { padding-top:5px !important; }
.pt6        { padding-top:6px !important; }
.pt7        { padding-top:7px !important; }
.pt8        { padding-top:8px !important; }
.pt9        { padding-top:9px !important; }
.pt10       { padding-top:10px !important; }
.pt11       { padding-top:11px !important; }
.pt12       { padding-top:12px !important; }
.pt13       { padding-top:13px !important; }
.pt14       { padding-top:14px !important; }
.pt15       { padding-top:15px !important; }
.pt16       { padding-top:16px !important; }
.pt17       { padding-top:17px !important; }
.pt18       { padding-top:18px !important; }
.pt19       { padding-top:19px !important; }
.pt20       { padding-top:20px !important; }
.pt25       { padding-top:25px !important; }
.pt30       { padding-top:30px !important; }
.pt35       { padding-top:35px !important; }
.pt40       { padding-top:40px !important; }
.pt45       { padding-top:45px !important; }
.pt50       { padding-top:50px !important; }
.pt60       { padding-top:60px !important; }
.pt70       { padding-top:70px !important; }
.pt80       { padding-top:80px !important; }
.pt90       { padding-top:90px !important; }
.pt100      { padding-top:100px !important; }
.pt130      { padding-top:130px !important; }               /* 20110112 KJK : QA 요청사항 처리 */

.pb0        { padding-bottom:0 !important; }
.pb1        { padding-bottom:1px !important; }
.pb2        { padding-bottom:2px !important; }
.pb3        { padding-bottom:3px !important; }
.pb4        { padding-bottom:4px !important; }
.pb5        { padding-bottom:5px !important; }
.pb6        { padding-bottom:6px !important; }
.pb7        { padding-bottom:7px !important; }
.pb8        { padding-bottom:8px !important; }
.pb9        { padding-bottom:9px !important; }
.pb10       { padding-bottom:10px !important; }
.pb11       { padding-bottom:11px !important; }
.pb12       { padding-bottom:12px !important; }
.pb13       { padding-bottom:13px !important; }
.pb14       { padding-bottom:14px !important; }
.pb15       { padding-bottom:15px !important; }
.pb16       { padding-bottom:16px !important; }
.pb17       { padding-bottom:17px !important; }
.pb18       { padding-bottom:18px !important; }
.pb19       { padding-bottom:19px !important; }
.pb20       { padding-bottom:20px !important; }
.pb25       { padding-bottom:25px !important; }
.pb30       { padding-bottom:30px !important; }
.pb35       { padding-bottom:35px !important; }
.pb40       { padding-bottom:40px !important; }
.pb45       { padding-bottom:45px !important; }
.pb50       { padding-bottom:50px !important; }
.pb60       { padding-bottom:60px !important; }
.pb70       { padding-bottom:70px !important; }
.pb80       { padding-bottom:80px !important; }
.pb90       { padding-bottom:90px !important; }
.pb100  { padding-bottom:100px !important; }
.pb130  { padding-bottom:130px !important; }            /* 20110112 KJK : QA 요청사항 처리 */

.pr0        { padding-right:0 !important; }
.pr1        { padding-right:1px !important; }
.pr2        { padding-right:2px !important; }
.pr3        { padding-right:3px !important; }
.pr4        { padding-right:4px !important; }
.pr5        { padding-right:5px !important; }
.pr6        { padding-right:6px !important; }
.pr7        { padding-right:7px !important; }
.pr8        { padding-right:8px !important; }
.pr9        { padding-right:9px !important; }
.pr10       { padding-right:10px !important; }
.pr11       { padding-right:11px !important; }
.pr12       { padding-right:12px !important; }
.pr13       { padding-right:13px !important; }
.pr14       { padding-right:14px !important; }
.pr15       { padding-right:15px !important; }
.pr16       { padding-right:16px !important; }
.pr17       { padding-right:17px !important; }
.pr18       { padding-right:18px !important; }
.pr19       { padding-right:19px !important; }
.pr20       { padding-right:20px !important; }
.pr25       { padding-right:25px !important; }
.pr30       { padding-right:30px !important; }
.pr35       { padding-right:35px !important; }
.pr40       { padding-right:40px !important; }
.pr50       { padding-right:50px !important; }
.pr60       { padding-right:60px !important; }
.pr70       { padding-right:70px !important; }
.pr80       { padding-right:80px !important; }
.pr90       { padding-right:90px !important; }
.pr100      { padding-right:100px !important; }

.pl0        { padding-left:0 !important; }
.pl1        { padding-left:1px !important; }
.pl2        { padding-left:2px !important; }
.pl3        { padding-left:3px !important; }
.pl4        { padding-left:4px !important; }
.pl5        { padding-left:5px !important; }
.pl6        { padding-left:6px !important; }
.pl7        { padding-left:7px !important; }
.pl8        { padding-left:8px !important; }
.pl9        { padding-left:9px !important; }
.pl10       { padding-left:10px !important; }
.pl11       { padding-left:11px !important; }
.pl12       { padding-left:12px !important; }
.pl13       { padding-left:13px !important; }
.pl14       { padding-left:14px !important; }
.pl15       { padding-left:15px !important; }
.pl16       { padding-left:16px !important; }
.pl17       { padding-left:17px !important; }
.pl18       { padding-left:18px !important; }
.pl19       { padding-left:19px !important; }
.pl20       { padding-left:20px !important; }
.pl25       { padding-left:25px !important; }
.pl30       { padding-left:30px !important; }
.pl35       { padding-left:35px !important; }
.pl40       { padding-left:40px !important; }
.pl50       { padding-left:50px !important; }
.pl60       { padding-left:60px !important; }
.pl70       { padding-left:70px !important; }
.pl80       { padding-left:80px !important; }
.pl90       { padding-left:90px !important; }
.pl100      { padding-left:100px !important; }

/* color */
.gray_01                { color:#333 !important; }
.gray_02                { color:#444 !important; }
.gray_03                { color:#666 !important; }
.blue_04                { color:#0089ab !important; }
.green_02           { color:#5f9111 !important; }
.red_01         { color:#ff0000 !important; }

/* line */
.line_01b           { padding-top:1px; background-color:#e0e0e0; }

/* list */
.olist_02           { font:11px/1.4em dotum; }
.olist_02 li        { padding:0 0 8px 18px; }

/* box */
.bbx_off            { border:1px #cccccc solid; padding:3px 5px 0 5px; height:17px; font:12px/1.2em verdana; color:#a3a3a3; vertical-align:middle; }
.bbx_on         { border:2px #097da5 solid; padding:2px 4px 0 4px; height:16px; font:bold 12px/1.2em verdana; color:#181818; vertical-align:middle; }

/* Layer */
.layer_type_c       { width:370px; border:4px #777777 solid; background-color:#fff; }
.layer_type_c .drag_area        { height:29px; background-color:#f1f1f1; }
.layer_type_c .drag_area .x { float:right; }
.layer_type_c h1    { float:left; padding:9px 0 0 11px; font:bold 13px/13px tahoma; color:#000; }
.layer_type_c .useragentList { margin:10px 8px; border-left:1px solid #d9dadc; border-bottom:1px solid #d9dadc; font-size:0; line-height:0; }
.layer_type_c .useragentList li { display:inline-block; width:169px; border-top:1px solid #d9dadc; border-right:1px solid #d9dadc; padding:10px 7px 9px; font-size:12px; line-height:1.4em; }

.lbody_d                { padding:0 0 20px 0; text-align:left; }

.trs_table                  { width:100%; table-layout:fixed; }
.trs_table th               { background:url(/admin/img/sms/bar_05.gif) right 8px no-repeat; vertical-align:top; text-align:left; font:12px/1.4em verdana; color:#333; }
.trs_table th p         { padding:7px 10px 2px; }
.trs_table th span      { display:inline-block; background:url(/admin/img/sms/bul_02.gif) 0 5px no-repeat; padding:0 0 0 9px; }
.trs_table td               { padding:5px 10px; color:#333; }
.thbgx th                   { background:none !important; }

.help_01 li             { background:url(/admin/img/sms/bar_07.gif) 1px 8px no-repeat; padding:0 0 0 11px; }

.mx_setting .warn h3 { padding:0 0 0 30px; font-size:11px; background:url("/admin/img/sms/sfix_bg_ico.gif") no-repeat; }